//MENU BUTTONS
.menu-btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top:35px;
    cursor:pointer;
    transition: all 0.5s;  
    .btn-line{
        width: 20px;
        height:3px;
        margin: 0 0 5px 0;
        background:$secondary-color;
        transition: all 0.5s;  
    }
    //Rotate Menu lines into a X:
    &.close{
        transform: rotate(180deg);
    
    .btn-line{

        //Line 1 rotates:
        &:nth-child(1){
            transform: rotate(45deg) translate(5px,5px);
           
           
            background: #b7e4c7;
            }

            //Line 2 hides:
        &:nth-child(2){
            opacity:0;
        } 

        //Line 3 rotates:
        &:nth-child(3){
            transform: rotate(-45deg) translate(7px, -6px);
            background: #b7e4c7;
           

            }   
        }
    }
}
.menu{
    visibility: hidden;
    position: fixed;
    top:0;
    width: 100%;
    opacity:0.9;
    &.show{
        visibility: visible;
    }
    &-branding,&-nav{

        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow:hidden ;
        }

    &-nav{
        margin: 0;
        padding:0;
        list-style: none;
        background: darken($primary-color,2);
        transform: translate3d(0,-100%,0);
        transition: all 0.5s ease-out;
        &.show{
            //Slide in from top:
            transform: translate3d(0,0,0);
        }
    }    
    //Branding side:
    &-branding{
        background: $primary-color;
        transition: all 0.5s ease-out;
        transform: translate3d(0,100%,0);
        &.show{
            transform: translate3d(0,0,0);
        }
        .potrait{
            width: 250px;
            height: 250px;
            background: url('https://image.shutterstock.com/image-photo/headshot-guy-wearing-spectacles-looking-260nw-1450012283.jpg');
            border-radius: 50%;
            border: solid 4px $secondary-color;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            // https://image.shutterstock.com/image-photo/headshot-guy-wearing-spectacles-looking-260nw-1450012283.jpg
        }

    
    }
    .nav-item{
        transform: translate3d(600px,0,0);
        transition: all 0.5s ease-out;
        &.show{
            transform: translate3d(0,0,0);
        }
        &.current>a{
        color:$secondary-color;
        }
       
    }
}
 //Delay each item by 0.1s
 @for $x from 1 through 4{
     .nav-item:nth-child(#{$x}){
         transition-delay:$x * 0.1s ;
     }

     .nav-link{
         font-size: 30px;
         font-weight: 300;
         padding:1rem 0;
         text-decoration: none;
         text-transform: uppercase;
         display:block;
         position: relative;
         transition: all 0.5s ease-out;
         color: #fff;
         &:hover{
             color:lighten($secondary-color, 20);

         }

     }

 }